# Performance Tests of Apache Spark-Based DC2 Run 1.1 Object Catalog Access
Author: **Julien Peloton [@JulienPeloton](https://github.com/JulienPeloton)**  
Last Run: **2018-11-22**  
See also: [issue/249](https://github.com/LSSTDESC/DC2-production/issues/249)

The purpose of this notebook is twofold: introduce Apache Spark and test performance of data manipulations of the static coadd catalogs. More benchmarks can be found on the companion notebook (*_appendix.ipynb)

## Before starting...

**What is Apache Spark?**

I'm glad you asked! [Apache Spark](http://spark.apache.org/) is a cluster computing framework, that is a set of tools to perform computation on a network of many machines. Spark started in 2009 as a research project, and it had a huge success so far in the industry. It is based on the so-called MapReduce cluster computing paradigm, popularized by the Hadoop framework using implicit data parallelism and fault tolerance. 

**Where to find information on running Spark at NERSC?**

Most of what you need for interactive and batch jobs is at [spark-distributed-analytic-framework](https://www.nersc.gov/users/data-analytics/data-analytics-2/spark-distributed-analytic-framework/).

For JupyterLab use, see below.

**Where this Notebook is intended to be run?**

These tests were conducted on NERSC through the https://jupyter-dev.nersc.gov interface.

**What is needed to run this Notebook at NERSC?**

1. You need an account at NERSC, and access to the DESC allocation.

2. This Notebook requires a pyspark kernel. The easiest way is to use the `desc-pyspark` kernel (see [LSSTDESC/desc-spark](https://github.com/LSSTDESC/desc-spark#working-at-nersc-jupyterlab) or [LSSTDESC/jupyter-kernels](https://github.com/LSSTDESC/jupyter-kernels) for more information)
If you encounter problem with this kernel, let [me](https://github.com/LSSTDESC/DC2_Repo/issues/new?body=@JulienPeloton) know.

**Where is the data used in this Notebook?**

Data used can be found at 

```
/global/projecta/projectdirs/lsst/global/in2p3/Run1.1/summary/
```

Apache Spark can read a large number of data formats (Parquet, Avro, text) but officially neither FITS nor HDF5 are supported. We developed a solution for FITS files ([spark-fits](https://github.com/astrolabsoftware/spark-fits), Scala/Java/Python/R API), but as far as I know there is no Python-friendly connector for HDF5. Therefore we will focus only on Parquet and FITS in this Notebook.

**Note concerning resources**

```
The large-memory login node used by https://jupyter-dev.nersc.gov/
is a shared resource, so please be careful not to use too many CPUs
or too much memory.

That means avoid using `--master local[*]` in your kernel, but limit
the resources to a few core. Typically `--master local[4]` is enough for
prototyping a program.

Then to scale the analysis, the best is to switch to batch mode! 
There, no limit!
```

This is already taken care for you in the DESC kernel setup script (from desc-pyspark), but keep this in mind if you use a custom kernel.

## Loading the data

We will follow what is done on the Dask Notebook ([hdf5, pandas](https://github.com/LSSTDESC/DC2-production/blob/master/Notebooks/object_catalog_performance_dask.ipynb), [parquet](https://github.com/LSSTDESC/DC2-production/blob/master/Notebooks/object_catalog_performance_dask_parquet.ipynb)).
We will first focus on one `patch` (4850) with all `tracts`.

### Disclaimer

Apache Spark, is meant to be primarily used in a context of _big data_.
One of its strength is its scalability, namely its capability of using the same
piece of code regardless the underlying data volume. The performance of the code will
then only depend on the resource used. 
E.g. for tasks without communications, execution time will be linear with data or resource.

Keep in mind:
- For small volume of data (< 10 GB), you will hit Spark noise and burning time.
- Spark is written in Scala, which is certainly not as specialised as C++ could be. Therefore for small volume of data, there is a chance an algorithm in Scala (Spark) would be slower than its C++ counterpart. But the Spark one is meant to run on TB of data _as it was written_ for MB of data - which is probably not the case for the C++.
- Once the data loaded, you can decide to keep it in memory (distributed among the executors). The next iterations will then go super fast (typically disk I/O throughput is o(100) MB/s while RAM is o(10) GB/s).

So in this example, the one patch test is likely to lessen Spark performance (volume is just few GB here), and these tests must also be ran on hundreds of GB of data.

In [1]:
import os

base_dir = '/global/projecta/projectdirs/lsst/global/in2p3/Run1.1/summary'

# Load one patch, all tracts
datafile = os.path.join(base_dir, 'dpdd_object.parquet')
print("Data will be read from: \n", datafile)

Data will be read from:
 /global/projecta/projectdirs/lsst/global/in2p3/Run1.1/summary/dpdd_object.parquet

## Loading data into a DataFrame

Let's initialise Spark and load the data into a DataFrame. We will first focus on the `parquet` data format.

In [2]:
from pyspark.sql import SparkSession

# Initialise our Spark session
spark = SparkSession.builder.getOrCreate()

# Read the data as DataFrame
df = spark.read.format("parquet").load(datafile)

# Check what we have in the file
df.printSchema()

root
 |-- magerr_i: double (nullable = true)
 |-- psFlux_i: double (nullable = true)
 |-- Ixx_r: double (nullable = true)
 |-- mag_i_cModel: double (nullable = true)
 |-- IxxPSF_u: double (nullable = true)
 |-- magerr_r: double (nullable = true)
 |-- psf_fwhm_i: double (nullable = true)
 |-- psf_fwhm_r: double (nullable = true)
 |-- Ixx: double (nullable = true)
 |-- magerr_g_cModel: double (nullable = true)
 |-- I_flag_y: boolean (nullable = true)
 |-- Iyy_z: double (nullable = true)
 |-- IxyPSF_i: double (nullable = true)
 |-- Ixx_z: double (nullable = true)
 |-- magerr_u_cModel: double (nullable = true)
 |-- IxyPSF: double (nullable = true)
 |-- snr_u_cModel: double (nullable = true)
 |-- IxxPSF_y: double (nullable = true)
 |-- psFlux_flag_i: boolean (nullable = true)
 |-- IyyPSF_g: double (nullable = true)
 |-- Ixy: double (nullable = true)
 |-- magerr_y: double (nullable = true)
 |-- psFlux_g: double (nullable = true)
 |-- snr_y_cModel: double (nullable = true)
 |-- Ixy_z: double (nullable = true)
 |-- psFlux_flag_r: boolean (nullable = true)
 |-- Iyy_g: double (nullable = true)
 |-- psFluxErr_r: double (nullable = true)
 |-- Ixx_i: double (nullable = true)
 |-- snr_z_cModel: double (nullable = true)
 |-- psf_fwhm_g: double (nullable = true)
 |-- Ixx_y: double (nullable = true)
 |-- I_flag: boolean (nullable = true)
 |-- magerr_z: double (nullable = true)
 |-- I_flag_i: boolean (nullable = true)
 |-- IyyPSF_i: double (nullable = true)
 |-- yErr: float (nullable = true)
 |-- magerr_r_cModel: double (nullable = true)
 |-- magerr_i_cModel: double (nullable = true)
 |-- clean: boolean (nullable = true)
 |-- IxyPSF_y: double (nullable = true)
 |-- mag_g: double (nullable = true)
 |-- mag_r: double (nullable = true)
 |-- psf_fwhm_y: double (nullable = true)
 |-- IxyPSF_g: double (nullable = true)
 |-- ra: double (nullable = true)
 |-- extendedness: double (nullable = true)
 |-- IxxPSF: double (nullable = true)
 |-- x: double (nullable = true)
 |-- Ixx_u: double (nullable = true)
 |-- mag_g_cModel: double (nullable = true)
 |-- psFluxErr_u: double (nullable = true)
 |-- I_flag_r: boolean (nullable = true)
 |-- IyyPSF_r: double (nullable = true)
 |-- psFluxErr_y: double (nullable = true)
 |-- psNdata: float (nullable = true)
 |-- psFlux_y: double (nullable = true)
 |-- psFlux_u: double (nullable = true)
 |-- Iyy: double (nullable = true)
 |-- IxxPSF_r: double (nullable = true)
 |-- mag_u: double (nullable = true)
 |-- dec: double (nullable = true)
 |-- IxyPSF_z: double (nullable = true)
 |-- mag_y: double (nullable = true)
 |-- Ixx_g: double (nullable = true)
 |-- Ixy_y: double (nullable = true)
 |-- IxxPSF_i: double (nullable = true)
 |-- blendedness: double (nullable = true)
 |-- Iyy_y: double (nullable = true)
 |-- IxxPSF_g: double (nullable = true)
 |-- psFlux_flag_u: boolean (nullable = true)
 |-- psFluxErr_g: double (nullable = true)
 |-- Iyy_r: double (nullable = true)
 |-- magerr_u: double (nullable = true)
 |-- I_flag_g: boolean (nullable = true)
 |-- snr_i_cModel: double (nullable = true)
 |-- psFluxErr_i: double (nullable = true)
 |-- IxxPSF_z: double (nullable = true)
 |-- IyyPSF_y: double (nullable = true)
 |-- I_flag_z: boolean (nullable = true)
 |-- snr_r_cModel: double (nullable = true)
 |-- Ixy_g: double (nullable = true)
 |-- mag_z: double (nullable = true)
 |-- IyyPSF_z: double (nullable = true)
 |-- psFlux_r: double (nullable = true)
 |-- IxyPSF_r: double (nullable = true)
 |-- psFlux_flag_g: boolean (nullable = true)
 |-- Iyy_u: double (nullable = true)
 |-- psf_fwhm_u: double (nullable = true)
 |-- objectId: long (nullable = true)
 |-- magerr_z_cModel: double (nullable = true)
 |-- snr_g_cModel: double (nullable = true)
 |-- psFlux_flag_y: boolean (nullable = true)
 |-- I_flag_u: boolean (nullable = true)
 |-- Ixy_u: double (nullable = true)
 |-- mag_i: double (nullable = true)
 |-- psFluxErr_z: double (nullable = true)
 |-- good: boolean (nullable = true)
 |-- Ixy_r: double (nullable = true)
 |-- parentObjectId: long (nullable = true)
 |-- Ixy_i: double (nullable = true)
 |-- IyyPSF: double (nullable = true)
 |-- xErr: float (nullable = true)
 |-- mag_u_cModel: double (nullable = true)
 |-- xy_flag: boolean (nullable = true)
 |-- IyyPSF_u: double (nullable = true)
 |-- mag_r_cModel: double (nullable = true)
 |-- mag_y_cModel: double (nullable = true)
 |-- magerr_g: double (nullable = true)
 |-- mag_z_cModel: double (nullable = true)
 |-- psf_fwhm_z: double (nullable = true)
 |-- psFlux_flag_z: boolean (nullable = true)
 |-- IxyPSF_u: double (nullable = true)
 |-- Iyy_i: double (nullable = true)
 |-- psFlux_z: double (nullable = true)
 |-- y: double (nullable = true)
 |-- magerr_y_cModel: double (nullable = true)
 |-- tract: integer (nullable = true)
 |-- patch: string (nullable = true)

In [3]:
# Get number of elements
print("All tracts DataFrame has length:", df.count())
%timeit c = df.count()

All tracts DataFrame has length: 6892380
The slowest run took 4.37 times longer than the fastest. This could mean that an intermediate result is being cached.
2.54 s ± 1.44 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Some statistics about the data

Let's play with the data. We will see how to compute statistics (mean, std, etc...) and ...

In [4]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import col

def stat_one_col(df: DataFrame, colname: str) -> DataFrame:
    """ Return some statistics about one DataFrame Column.
    Statistics include: count, mean, stddev, min, max.
    
    Parameters
    ----------
    df : DataFrame
        Spark DataFrame
    colname : str
        Name of the Column for which we want the statistics
        
    Returns
    ----------
    out : DataFrame
        DataFrame containing statistics about the Column.
    """
    return df.select(colname).describe()

def stat_diff_col(df: DataFrame, colname_1: str, colname_2: str) -> DataFrame:
    """ Return some statistics about the difference of 
    two DataFrame Columns.
    Statistics include: count, mean, stddev, min, max.
    
    Parameters
    ----------
    df : DataFrame
        Spark DataFrame
    colname_1 : str
        Name of the first Column
    colname_2 : str
        Name of the second Column
        
    Returns
    ----------
    out : DataFrame
        DataFrame containing statistics about the Columns difference.
    """
    return df.select(col(colname_1) - col(colname_2)).describe()

In [5]:
# Get statistics about one column
stat_one_col(df, 'mag_g').show()
%timeit c = stat_one_col(df, 'mag_g').collect()

# Get statistics for the difference of two columns
stat_diff_col(df, 'mag_g', 'mag_r').show()
%timeit d = stat_diff_col(df, 'mag_g', 'mag_r').collect()

+-------+------------------+
|summary|             mag_g|
+-------+------------------+
|  count|           5698019|
|   mean|25.721391706804777|
| stddev|  2.16444185648169|
|    min|14.431595512576623|
|    max| 52.39393263760668|
+-------+------------------+

1.53 s ± 124 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
+-------+------------------+
|summary|   (mag_g - mag_r)|
+-------+------------------+
|  count|           4172439|
|   mean|0.5274674368917402|
| stddev|1.6067276263035577|
|    min|-28.13517076318348|
|    max|33.316740496333026|
+-------+------------------+

The slowest run took 5.29 times longer than the fastest. This could mean that an intermediate result is being cached.
3.91 s ± 2.47 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

It takes roughly 1 second to produce statistics on the full dataset (6 million rows, 4.5 GB). This has to be compared to the 52 seconds for Dask to compute the `mean` using the same resource (4 CPU). Note that we didn't explicitly asked to put the data in cache (would be much faster). Note also that the number of elements for each column used to produce statistics varies (`count`). This is due to the fact that `NaN` are discarded.

I also ran this test with more resource (i.e. more CPUs), and the execution time gets smaller. Not linearly, as we hit Spark burning time (not enough data), but e.g. a few hundred of millisecond with 32 CPU.

## Reducing, playing, plotting

You can always go back to pandas world by using the `toPandas()` method. But be careful, if you do that on the full dataframe you will destroy your driver for sure! Spark DataFrames are abstractions of arbitrary amount of data. Invoking `toPandas()` triggers an action, and objects to transfer will be materialised. Imagine TB of data suddenly flowing to your driver...

So transfer only subset of the full Spark DataFrame to pandas. In pyspark there are several ways of selecting only subset of data: via SQL expression or DataFrame methods (which are somewhat related to each other...):

In [6]:
# Subset of columns of interest
cols = "mag_g, mag_r, mag_i, magerr_g, magerr_r, magerr_i, extendedness"

# SQL - register first the DataFrame
df.createOrReplaceTempView("full_tract")

# Keeps only columns with 0.0 < magerr_g < 0.3
sql_command = """
    SELECT {}
    FROM full_tract 
    WHERE 
        magerr_g > 0 AND magerr_g < 0.3
""".format(cols)

# Execute the expression - return a DataFrame
df_sub = spark.sql(sql_command)
print("Number of elements selected: ", df_sub.count())
df_sub.show()

# Note that we could have done otherwise:
# Example with select.where
df.select(cols.split(", ")).where("magerr_g > 0 AND magerr_g < 0.3")
# Example with select.filter
df.select(cols.split(", ")).filter("magerr_g > 0 AND magerr_g < 0.3")

Number of elements selected:  3321654
+------------------+-----+------------------+--------------------+--------+-------------------+------------+
|             mag_g|mag_r|             mag_i|            magerr_g|magerr_r|           magerr_i|extendedness|
+------------------+-----+------------------+--------------------+--------+-------------------+------------+
| 24.87676944063096| null| 23.64673432826903| 0.17546297070343575|    null|0.13097482849456088|         1.0|
|24.939799594405795| null|24.450642477068754|  0.1859198552723055|    null| 0.2702956478950862|         1.0|
|22.606359735849033| null|21.783006265387925|0.024030475892070212|    null|0.02584801396172265|         1.0|
| 24.60100335942729| null| 23.78327461507407| 0.13540762291556163|    null|0.14721246644511554|         1.0|
| 24.90555337049352| null|23.914387997196656| 0.17788127357700817|    null| 0.1641571882704487|         1.0|
|25.192049644404587| null|23.960523492790774|  0.2339227977627664|    null|0.17224616898612544|         0.0|
| 23.46892615661556| null| 22.02911710495936| 0.04924573766629771|    null|0.05998649191456154|         1.0|
|24.443413917757862| null|23.754252181258735| 0.16437568212737144|    null|0.14284383078855586|         1.0|
|24.930234322856727| null| 23.60667156128975| 0.18296021240186897|    null|0.12486077211068815|         1.0|
|23.582033306419056| null| 22.97075549692108| 0.05376812627309438|    null|0.13081167467257815|         1.0|
|25.340391984858805| null| 23.72835993123762|  0.2665721001699239|    null| 0.1401172796404791|         1.0|
|25.084115314339556| null|23.942083007726946|  0.2114345222811672|    null|0.16901936506931747|         1.0|
|25.435043258811273| null| 23.71860731007662|   0.290788543135033|    null|0.13925341319705536|         0.0|
|24.186081323955946| null| 23.35247880635467| 0.09368156396856513|    null|0.09906910609327572|         1.0|
|23.795456067720437| null|22.974539813830724|   0.065537832765072|    null| 0.0708706053022068|         1.0|
| 24.40735496698158| null|24.040292087958054| 0.15996613536981155|    null|0.18512907239885823|         1.0|
|24.953642984453694| null| 23.80127469385195|   0.187811797558376|    null| 0.1501770734285616|         1.0|
|25.317834747844763| null|23.826883242078193| 0.25970304718700254|    null|0.32360399227200676|         1.0|
| 23.39649011643141| null| 22.96764642565309| 0.04656439667831923|    null|0.15957733025865023|         1.0|
|25.302869315242987| null|24.170281144915986|  0.2559405100500735|    null|0.20944606080148823|         0.0|
+------------------+-----+------------------+--------------------+--------+-------------------+------------+
only showing top 20 rows

DataFrame[mag_g: double, mag_r: double, mag_i: double, magerr_g: double, magerr_r: double, magerr_i: double, extendedness: double]

3000 objects, 7 columns - that's more reasonnable than the million ones! We can go to Pandas and play for example with your favourite plotting library such as seaborn, matplotlib, and so on:

In [7]:
df_pandas = df_sub.toPandas()
df_pandas

,mag_g,mag_r,mag_i,magerr_g,magerr_r,magerr_i,extendedness
0,24.876769,NaN,23.646734,0.175463,NaN,0.130975,1.0
1,24.939800,NaN,24.450642,0.185920,NaN,0.270296,1.0
2,22.606360,NaN,21.783006,0.024030,NaN,0.025848,1.0
3,24.601003,NaN,23.783275,0.135408,NaN,0.147212,1.0
4,24.905553,NaN,23.914388,0.177881,NaN,0.164157,1.0
5,25.192050,NaN,23.960523,0.233923,NaN,0.172246,0.0
6,23.468926,NaN,22.029117,0.049246,NaN,0.059986,1.0
7,24.443414,NaN,23.754252,0.164376,NaN,0.142844,1.0
8,24.930234,NaN,23.606672,0.182960,NaN,0.124861,1.0
9,23.582033,NaN,22.970755,0.053768,NaN,0.130812,1.0
10,25.340392,NaN,23.728360,0.266572,NaN,0.140117,1.0
11,25.084115,NaN,23.942083,0.211435,NaN,0.169019,1.0
12,25.435043,NaN,23.718607,0.290789,NaN,0.139253,0.0
13,24.186081,NaN,23.352479,0.093682,NaN,0.099069,1.0
14,23.795456,NaN,22.974540,0.065538,NaN,0.070871,1.0
15,24.407355,NaN,24.040292,0.159966,NaN,0.185129,1.0
16,24.953643,NaN,23.801275,0.187812,NaN,0.150177,1.0
17,25.317835,NaN,23.826883,0.259703,NaN,0.323604,1.0
18,23.396490,NaN,22.967646,0.046564,NaN,0.159577,1.0
19,25.302869,NaN,24.170281,0.255941,NaN,0.209446,0.0
20,24.170566,NaN,24.067201,0.136963,NaN,0.189183,0.0
21,22.524053,NaN,20.186235,0.022378,NaN,0.007830,0.0
22,24.452325,NaN,23.818520,0.118939,NaN,0.152524,1.0
23,23.503232,NaN,22.913980,0.051054,NaN,0.067673,1.0
24,25.162704,NaN,24.607347,0.226345,NaN,0.311042,0.0
25,24.338959,NaN,23.572891,0.150164,NaN,0.120873,1.0
26,24.376450,NaN,23.649932,0.176400,NaN,0.129741,1.0
27,22.806317,NaN,21.422268,0.043807,NaN,0.019078,1.0
28,23.389399,NaN,22.886144,0.073007,NaN,0.066085,1.0
29,23.352804,NaN,23.515134,0.044811,NaN,0.263678,1.0
...,...,...,...,...,...,...,...
3321624,25.366286,NaN,NaN,0.243926,NaN,NaN,0.0
3321625,25.334926,NaN,NaN,0.237789,NaN,NaN,0.0
3321626,22.964566,NaN,NaN,0.031239,NaN,NaN,0.0
3321627,19.372830,NaN,NaN,0.003426,NaN,NaN,0.0
3321628,25.532086,NaN,NaN,0.287832,NaN,NaN,0.0
3321629,25.336418,NaN,NaN,0.237857,NaN,NaN,0.0
3321630,25.402141,NaN,NaN,0.253310,NaN,NaN,0.0
3321631,22.707157,NaN,NaN,0.032717,NaN,NaN,0.0
3321632,25.027878,NaN,NaN,0.247629,NaN,NaN,0.0
3321633,17.670310,NaN,NaN,0.001693,NaN,NaN,NaN
3321634,18.217415,NaN,NaN,0.002536,NaN,NaN,NaN
3321635,18.529191,NaN,NaN,0.002777,NaN,NaN,NaN
3321636,22.256280,NaN,NaN,0.022834,NaN,NaN,0.0
3321637,24.787020,NaN,NaN,0.198346,NaN,NaN,0.0
3321638,24.934084,NaN,NaN,0.227299,NaN,NaN,0.0
3321639,24.864887,NaN,NaN,0.212616,NaN,NaN,1.0
3321640,25.105137,NaN,NaN,0.265941,NaN,NaN,NaN
3321641,24.972454,NaN,NaN,0.235965,NaN,NaN,0.0
3321642,25.033639,NaN,NaN,0.247968,NaN,NaN,NaN
3321643,18.552948,NaN,NaN,0.002665,NaN,NaN,0.0
3321644,24.560685,NaN,NaN,0.185316,NaN,NaN,0.0
3321645,24.529488,NaN,NaN,0.181393,NaN,NaN,1.0
3321646,24.640988,NaN,NaN,0.203415,NaN,NaN,0.0
3321647,24.737169,NaN,NaN,0.223851,NaN,NaN,0.0
3321648,24.889040,NaN,NaN,0.258451,NaN,NaN,0.0
3321649,24.987951,NaN,NaN,0.286580,NaN,NaN,0.0
3321650,24.845034,NaN,NaN,0.239477,NaN,NaN,1.0
3321651,24.871932,NaN,NaN,0.247361,NaN,NaN,0.0
3321652,24.426020,NaN,NaN,0.188302,NaN,NaN,1.0
3321653,25.169425,NaN,NaN,0.206237,NaN,NaN,1.0

## Data quality

**87% valid entries, 13% NaN**

In [8]:
from pyspark.sql.functions import col,sum

# Show the number of valid entries
df_entries = df.select(*(sum(col(c).isNotNull().cast("int")).alias(c) for c in df.columns))
entries = df_entries.collect()

In [9]:
import numpy as np

ini_len = df.count()
print("Input number of entries: {}".format(ini_len))
print("Total yield: {}%".format(np.sum(entries) / (ini_len * len(df.columns)) * 100))
for col, entry in zip(df.columns, entries[0]):
    print("{}: {} ({:.1f}%)".format(col, entry, entry/ini_len*100))

Input number of entries: 6892380
Total yield: 87.42589520552244%
magerr_i: 5272546 (76.5%)
psFlux_i: 6142802 (89.1%)
Ixx_r: 4997285 (72.5%)
mag_i_cModel: 5196764 (75.4%)
IxxPSF_u: 6791749 (98.5%)
magerr_r: 4819340 (69.9%)
psf_fwhm_i: 6295438 (91.3%)
psf_fwhm_r: 5781874 (83.9%)
Ixx: 4252164 (61.7%)
magerr_g_cModel: 6568933 (95.3%)
I_flag_y: 6892380 (100.0%)
Iyy_z: 5209439 (75.6%)
IxyPSF_i: 6295438 (91.3%)
Ixx_z: 5209439 (75.6%)
magerr_u_cModel: 6510048 (94.5%)
IxyPSF: 6892038 (100.0%)
snr_u_cModel: 6510048 (94.5%)
IxxPSF_y: 6342770 (92.0%)
psFlux_flag_i: 6892380 (100.0%)
IyyPSF_g: 6776910 (98.3%)
Ixy: 4252164 (61.7%)
magerr_y: 5040748 (73.1%)
psFlux_g: 6740025 (97.8%)
snr_y_cModel: 6045334 (87.7%)
Ixy_z: 5209439 (75.6%)
psFlux_flag_r: 6892380 (100.0%)
Iyy_g: 5556470 (80.6%)
psFluxErr_r: 5600369 (81.3%)
Ixx_i: 5306107 (77.0%)
snr_z_cModel: 5804192 (84.2%)
psf_fwhm_g: 6776910 (98.3%)
Ixx_y: 5036312 (73.1%)
I_flag: 6892380 (100.0%)
magerr_z: 5113937 (74.2%)
I_flag_i: 6892380 (100.0%)
IyyPSF_i: 6295438 (91.3%)
yErr: 6803985 (98.7%)
magerr_r_cModel: 5464759 (79.3%)
magerr_i_cModel: 6002709 (87.1%)
clean: 6892380 (100.0%)
IxyPSF_y: 6342770 (92.0%)
mag_g: 5698019 (82.7%)
mag_r: 4819340 (69.9%)
psf_fwhm_y: 6342770 (92.0%)
IxyPSF_g: 6776910 (98.3%)
ra: 6892380 (100.0%)
extendedness: 6719923 (97.5%)
IxxPSF: 6892038 (100.0%)
x: 6892380 (100.0%)
Ixx_u: 5131331 (74.4%)
mag_g_cModel: 5607622 (81.4%)
psFluxErr_u: 6722384 (97.5%)
I_flag_r: 6892380 (100.0%)
IyyPSF_r: 5781874 (83.9%)
psFluxErr_y: 6253456 (90.7%)
psNdata: 6892378 (100.0%)
psFlux_y: 6253456 (90.7%)
psFlux_u: 6722384 (97.5%)
Iyy: 4252164 (61.7%)
IxxPSF_r: 5781874 (83.9%)
mag_u: 5296342 (76.8%)
dec: 6892380 (100.0%)
IxyPSF_z: 6057719 (87.9%)
mag_y: 5040748 (73.1%)
Ixx_g: 5556470 (80.6%)
Ixy_y: 5036312 (73.1%)
IxxPSF_i: 6295438 (91.3%)
blendedness: 4252001 (61.7%)
Iyy_y: 5036312 (73.1%)
IxxPSF_g: 6776910 (98.3%)
psFlux_flag_u: 6892380 (100.0%)
psFluxErr_g: 6740025 (97.8%)
Iyy_r: 4997285 (72.5%)
magerr_u: 5296342 (76.8%)
I_flag_g: 6892380 (100.0%)
snr_i_cModel: 6002709 (87.1%)
psFluxErr_i: 6142802 (89.1%)
IxxPSF_z: 6057719 (87.9%)
IyyPSF_y: 6342770 (92.0%)
I_flag_z: 6892380 (100.0%)
snr_r_cModel: 5464759 (79.3%)
Ixy_g: 5556470 (80.6%)
mag_z: 5113937 (74.2%)
IyyPSF_z: 6057719 (87.9%)
psFlux_r: 5600369 (81.3%)
IxyPSF_r: 5781874 (83.9%)
psFlux_flag_g: 6892380 (100.0%)
Iyy_u: 5131331 (74.4%)
psf_fwhm_u: 6791749 (98.5%)
objectId: 6892380 (100.0%)
magerr_z_cModel: 5804192 (84.2%)
snr_g_cModel: 6568933 (95.3%)
psFlux_flag_y: 6892380 (100.0%)
I_flag_u: 6892380 (100.0%)
Ixy_u: 5131331 (74.4%)
mag_i: 5272546 (76.5%)
psFluxErr_z: 5955153 (86.4%)
good: 6892380 (100.0%)
Ixy_r: 4997285 (72.5%)
parentObjectId: 6892380 (100.0%)
Ixy_i: 5306107 (77.0%)
IyyPSF: 6892038 (100.0%)
xErr: 6803985 (98.7%)
mag_u_cModel: 5193418 (75.4%)
xy_flag: 6892380 (100.0%)
IyyPSF_u: 6791749 (98.5%)
mag_r_cModel: 4742689 (68.8%)
mag_y_cModel: 4961908 (72.0%)
magerr_g: 5698019 (82.7%)
mag_z_cModel: 5038002 (73.1%)
psf_fwhm_z: 6057719 (87.9%)
psFlux_flag_z: 6892380 (100.0%)
IxyPSF_u: 6791749 (98.5%)
Iyy_i: 5306107 (77.0%)
psFlux_z: 5955153 (86.4%)
y: 6892380 (100.0%)
magerr_y_cModel: 6045334 (87.7%)
tract: 6892380 (100.0%)
patch: 6892380 (100.0%)